.slogan{
    min-height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan h2{
    font-size: 3.5rem;
}

.slogan p {
    font-size: 20px;
    color: gray;
}



.container {
    margin: 96px auto;
}

.container .row{
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.container .row > div{
    padding: 0;
}
/* .img img{
    width: 100%;
    min-height: 177px;
    object-fit: cover;
}

.img h5{
    font-weight: bolder;
    font-size: 1.25rem;
} */

.fa-star{
    color: rgb(255, 193, 7);
}

.sale-box{
    position: relative;
}

.sale{
    position: absolute;
    top: 10px;
    right: 10px;
}


.menu .menu-btn{
    right: 150px;
    
}
